{% set css %}
  {% imageCssBackground "fire-hills" %}
  {% imageCssBackground "fire" %}
  {% imageCssBackground "mountain-mist" %}
  {% imageCssBackground "nepal" %}
  {% imageCssBackground "thai-hills" %}
  {% imageCssBackground "trees-hill" %}
{% endset %}
<style>{{ css | safe }}</style>
