---
layout: base
---

{% set css %}
  {% imageCssBackground backgroundImage %}
{% endset %}
<style>{{ css | safe }}</style>

<div class="wrapper">
  <article class="full">
    <div class="wrapper flow prose">{{ content | safe }}</div>
  </article>
</div>
