---
title: "About"
permalink: /about/index.html
description: "Leadership Circles is a joint project of Fay Andrews-Hodgson & Marie Dove."
layout: home
discover:
  title: "About | Leadership Circles"
---

<section class="full | wrapper cover-image cover-image-nepal">
  <div class="section__inner region">
    <h2 style="margin-bottom: 2rem">Fay Andrews-Hodgson</h2>
  </div>
</section>

<div class="image-text" data-layout="image-text">
  <div>
    <p>
      Fay has spent nearly two decades practising Organisational Development
      within mainly public sector organisations, including NHS and Civil
      Service; supporting individuals, teams and whole organisations in their
      learning, development and Leadership. She has a background in
      Organisational Psychology (MSc) and Coaching.
    </p>
  </div>
  {% image "./src/assets/images/about/fay.jpg", 'Fay Andrews-Hodgson', null,
  'eager' %}
</div>
<p>
  She also has an interest in dynamic systems, our complex world and the
  interconnectivity of things. Fay is the founder of Insight Space offering
  Executive Coaching, Team Coaching and Organisational Development.
</p>
<p>
  <a href="https://insightspace.co.uk" target="_blank"
    >Find out more about Fay and her work</a
  >
</p>

<section class="full | wrapper cover-image cover-image-nepal">
  <div class="section__inner region">
    <h2 style="margin-bottom: 2rem">Marie Dove</h2>
  </div>
</section>

<div class="image-text" data-layout="text-image">
  <div>
    Marie has loved being in nature and learning from nature from a young age.
    She was lucky enough to grow up in rural Cumbria, spending her entire
    childhood exploring and learning from the natural world.
  </div>
  {% image "./src/assets/images/about/marie.webp", 'Marie Dove', null %}
</div>

<p>
  Alongside nature, Marie has always had a keen interest in human psychology and
  her entire career has been people focused. At age 16 she completed her
  certificate in counselling and went on to study Social Work at degree level.
  Working within the care sector for 15 years, Marie worked for Local
  Authorities as well as the private and voluntary sector, in the fields of
  mental health, addiction, disability and young people.
</p>
<p>
  In 2015, Marie left social work behind to become the managing director of the
  Woodland Adventure Company, a successful outdoor company, that provides
  adventure and nature connection activities to children.
</p>
<p>
  In this role, Marie very quickly realised that she wanted to combine her love
  of working with people with her love of nature. This led to Marie training and
  qualifying as a coach in 2017. Marie now works with people one to one, runs
  women’s circles, nature connection retreats and team days for care focused
  organisations. Marie is passionate about providing people space in their busy
  and demanding lives to come back to self, each other and the Earth.
</p>
<p>
  <a href="https://mariedove.co.uk" target="_blank"
    >Find out more about Marie and her work</a
  >
</p>

<section class="full | wrapper cover-image cover-image-nepal">
  <div class="section__inner region">
    <h2 style="margin-bottom: 2rem">Find out more</h2>
    <p>
      Please contact us at:
      <a href="mailto:info@leadershipcircles.co.uk"
        >info@leadershipcircles.co.uk</a
      >
    </p>
  </div>
</section>
