<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="wrapper">
  <div class="site-header | repel ontop">
    <a href="/" class="logo | cluster" {% if page.url == "/" %}aria-current="page"{% endif %}>
      {% plainImage "./src/assets/images/logo.png", 'Leadership Circles', 'eager', [80], ['jpeg'] %}
      <span class="font-display">{{ meta.siteName }}</span>
    </a>
    {% include "partials/main-nav.njk" %}
  </div>
</header>
